# 28. How do I create a pandas DataFrame from another object?

In [1]:
import pandas as pd

In [2]:
# Creating a DataFrame from a python dictionary.
dict_df = pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']}, 
                  columns=['color', 'id'], index=['a', 'b', 'c'])
dict_df

  color   id
a   red  100
b  blue  101
c   red  102

In [3]:
# Creating a DataFrame from a list of list.
list_df = pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']],
            columns=['id', 'color'], index=['a', 'b', 'c'])
list_df

    id color
a  100   red
b  101  blue
c  102   red

In [4]:
# Creating a DataFrame from a numpy array.
import numpy as np
arr = np.random.rand(4, 2)
pd.DataFrame(arr, columns=['one', 'two'])

        one       two
0  0.349130  0.816207
1  0.594638  0.414018
2  0.623847  0.347966
3  0.550821  0.103394

In [5]:
student_df = pd.DataFrame({'student':np.arange(100, 110), 
              'test':np.random.randint(60, 101, 10)}).set_index('student')
student_df

         test
student
100        78
101        79
102        65
103        88
104        76
105        91
106        66
107        81
108        68
109        75

In [6]:
# BONUS:
# How do I create a new Series and attach it to an existing DataFrame?
s = pd.Series(['round', 'square'], index=['c', 'b'], name='shape')
s

c     round
b    square
Name: shape, dtype: object

In [7]:
dict_df

  color   id
a   red  100
b  blue  101
c   red  102

In [8]:
pd.concat([dict_df, s], axis=1, sort=False)

  color   id   shape
a   red  100     NaN
b  blue  101  square
c   red  102   round