# 1. How to read a tabular data file into pandas?

In [1]:
import pandas as pd

In [2]:
# reading data using read_csv method 
# Read a comma-separated values (csv) file into DataFrame. 
# Also supports optionally iterating or breaking of the file into chunks.

orders = pd.read_csv("data/chiporders.csv", index_col=0)

user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']

# reading data using read_csv method passing index_col=0 to use user_id as index 
# read_csv set a default index (0, 1, 2, 3, ...)
movies_data = pd.read_csv("data/movieuser.csv", index_col=0)

In [3]:
# 'head(n)': Shows the first 'n', by default n=5, its a DataFrame and Series method.
orders.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,CHIPS AND FRESH TOMATO SALSA,NaN,$2.39
1,1,1,IZZE,Clementine,$3.39
2,1,1,NANTUCKET NECTAR,Apple,$3.39

In [4]:
movies_data.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [5]:
# 'to_csv()': Save the data after analysing it to a comma separted values, 
# it has a parameter index=True which add a default index to the file.
orders.to_csv('data/chiporders.csv')
movies_data.to_csv('data/movieuser.csv')