# 3. Why do some pandas commands end with parentheses, other commands don't?

In [1]:
import pandas as pd
movies = pd.read_csv("data/imdbratings.csv")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"'Tim Robbins', 'Morgan Freeman', 'Bob Gnton'"
1,9.2,The Godfather,R,Crime,175,"'Marlon Brando', 'Al Pacino', 'James Caan'"
2,9.1,The Godfather: Part II,R,Crime,200,"'Al Pacino', 'Robert De Niro', 'Robert Dvall'"
3,9.0,The Dark Knight,PG-13,Action,152,"'Christian Bale', 'Heath Ledger', 'Aaron Eckhart'"
4,8.9,Pulp Fiction,R,Crime,154,"'John Travolta', 'Uma Thrman', 'Samel L. Jackson'"

In [2]:
# 'describe()': Generate descriptive statistics that summarize the central tendency,
# dispersion and shape of a dataset's distribution, excluding ``NaN`` values.

# Analyzes both numeric and object series, as well as ``DataFrame`` column sets of mixed data types.
# The output will vary depending on what is provided. Refer to the notes below for more detail

movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [3]:
# calling describe on pandas Series
movies.star_rating.describe()

count    979.000000
mean       7.889785
std        0.336069
min        7.400000
25%        7.600000
50%        7.800000
75%        8.100000
max        9.300000
Name: star_rating, dtype: float64

In [4]:
movies.shape

(979, 6)

In [5]:
# 'dtypes': Returns a Series with the data type of each column
# The result's index is the original DataFrame's columns.
movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [6]:
# use an optional parameter to the describe method to summarize only 'object' columns
movies.describe(include=['object'])

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,Dracula,R,Drama,"'Daniel Radcliffe', 'Emma Watson', 'Rpert Grint'"
freq,2,460,278,6