# 21. How do I use pandas with scikit-learn to create Kaggle submissions?

In [1]:
import pandas as pd
train = pd.read_csv('data/kaggletrain.csv')
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
feature_cols = ['Pclass', 'Parch']

In [3]:
X = train.loc[:, feature_cols]

In [4]:
X.shape

(891, 2)

In [5]:
y = train['Survived']

In [6]:
y.shape

(891,)

In [7]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [ ]:
test = pd.read_csv('http://bit.ly/kaggletest')
test.head()

In [ ]:
X_new = test.loc[:, feature_cols]

In [ ]:
new_pred_class = logreg.predict(X_new)